<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand text-white">JWT Auth System</a>
  <ul class="navbar-nav mr-auto">    
  </ul>
  <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
</nav>
  <div class="row">
    <div style="margin: 50px;" *ngIf="userDetails">
      <ul class="list-group">
        <li class="list-group-item"><strong>Username : </strong>{{userDetails.userName}}</li>
        <li class="list-group-item"><strong>FullName : </strong>{{userDetails.fullName}}</li>
        <li class="list-group-item"><strong>Email : </strong>{{userDetails.email}}</li>
      </ul>
    </div>
    <div class="col-md-7">
      <h1 class="display-4 text-center">{{text}}</h1>
      <app-album-form></app-album-form>
      <app-album-list></app-album-list>
      <app-song-form></app-song-form>
      <app-song-list></app-song-list>
      <!-- <app-company-list *ngIf="!panels" (viewPanelsC)="parent($event)"></app-company-list>
      <app-employee-list [vp]="vp" *ngIf="panels" (viewPanelsE)="parent($event)"></app-employee-list> -->
    </div>
  </div>